{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2017,
    "allowImportExportEverywhere": true
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "amd": true
  },
  "globals": {
    "fixture": true,
    "test": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/extensions": ["error", "never", { "packages": "never" }],
    "no-underscore-dangle": ["off"],
    "no-param-reassign": ["error", { "props": false }],
    "global-require": 0,
    "max-len": ["error", 120],
    "comma-dangle": ["error", "always-multiline"],
    "no-console": ["warn"]
  }
}
